// -----------------------------------------------------------------------------
// This file contains styles that are specific to the people page.
// -----------------------------------------------------------------------------

@use '../01_abstracts/index' as *;

#people.page {
  #main {
    .intro-text {
      span.breadcrumb {
        &::after {
          left: 5.5rem;
        }
      }
    }
  }
  .hero-title {
    position: absolute;
    left: 0;
    bottom: 0;
    white-space: nowrap;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(50px, 17vw, 290px);
    line-height: 1.4;
    letter-spacing: -0.05em;
    margin: 0 var(--section-margin) 0;

    &::after {
      content: '.';
    }
  }
}
