// -----------------------------------------------------------------------------
// This file contains all site-wide CSS animations.
// -----------------------------------------------------------------------------

// Slide in top

.slide-in-top {
  -webkit-animation: slide-in-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-10000px);
    transform: translateY(-10000px);
  }
  5% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  10% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-10000px);
    transform: translateY(-10000px);
  }
  5% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  10% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

// Slide out top

.slide-out-top {
  -webkit-animation: slide-out-top 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-top 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  95% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-1000px);
  }
  100% {
    -webkit-transform: translateY(-10000px);
    transform: translateY(-1000px);
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  95% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(-10000px);
    transform: translateY(-10000px);
  }
}

// Rotate out center

.rotate-out-center {
  -webkit-animation: rotate-out-center 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: rotate-out-center 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes rotate-out-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
}
@keyframes rotate-out-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
}

// Pulsate

.pulsate {
  -webkit-animation: pulsate 3s ease-out infinite both;
  animation: pulsate 3s ease-out infinite both;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulsate {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

// Fade out

.fade-out {
  -webkit-animation: fade-out 300ms ease-out both;
  animation: fade-out 300ms ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// Fade in

.fade-in {
  -webkit-animation: fade-in 300ms ease-out both;
  animation: fade-in 300ms ease-out both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Rotate 90 cw

.rotate-90-cw {
  -webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

// Rotate backwards 90 cw

.rotate-90-ccw {
  -webkit-animation: rotate-90-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-90-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}

// Light to dark

.light-to-dark {
  -webkit-animation: light-to-dark 300ms ease-out both;
  animation: light-to-dark 300ms ease-out both;
}

@-webkit-keyframes light-to-dark {
  0% {
    background: var(--light-1);
  }
  100% {
    background: var(--dark-1);
  }
}
@keyframes light-to-dark {
  0% {
    background: var(--light-1);
  }
  100% {
    background: var(--dark-1);
  }
}

// Dark to light

.dark-to-light {
  -webkit-animation: dark-to-light 300ms ease-out both;
  animation: dark-to-light 300ms ease-out both;
}

@-webkit-keyframes dark-to-light {
  0% {
    background: var(--dark-1);
  }
  100% {
    background: var(--light-1);
  }
}
@keyframes dark-to-light {
  0% {
    background: var(--dark-1);
  }
  100% {
    background: var(--light-1);
  }
}

// Zoom in
.zoom-in {
  -webkit-animation: zoom-in 500ms ease-out both;
  animation: zoom-in 500ms ease-out both;
}

@-webkit-keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

// Zoom out
.zoom-out {
  -webkit-animation: zoom-out 500ms ease-out both;
  animation: zoom-out 500ms ease-out both;
}

@-webkit-keyframes zoom-out {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoom-out {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.image-zoom {
  &:hover {
    .image-wrapper {
      img {
        -webkit-animation: zoom-in 0.5s ease-in-out both;
        animation: zoom-in 0.5s ease-in-out both;
      }
    }
  }

  &:not(:hover) {
    .image-wrapper {
      img {
        -webkit-animation: zoom-out 0.5s ease-in-out both;
        animation: zoom-out 0.5s ease-in-out both;
      }
    }
  }
}
