// -----------------------------------------------------------------------------
// This file contains all typography styling
// -----------------------------------------------------------------------------

@use '../01_abstracts/index' as *;

// Styling for headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-1);
  font-weight: 700;
  margin: 1em 0 0;
  padding: 0;
  line-height: 130%;
}

h2 {
  font-size: clamp(1.5rem, 4.5vw, 3rem);
  position: relative;

  &::before {
    @include divider();
    position: absolute;
    top: 30%;
    left: calc(var(--section-margin) * -1);
  }

  &::after {
    content: '.';
  }
}

h3 {
  font-size: clamp(2rem, 4.5vw, 3rem);
}

// Paragraph styling
p,
blockquote,
.article-heading,
.article-list,
.article-list li {
  margin-top: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: var(--font-2);
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  letter-spacing: 0.0019rem;

  &.lead {
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(1.5rem, 5vw, 2.25rem);
    line-height: 1.2;
    letter-spacing: -0.04rem;
  }

  @include mq(sm) {
    font-size: 1.125rem;
  }

  @include mq(md) {
    font-size: 1.25rem;
  }

  @include mq(lg) {
    font-size: 1.375rem;
  }
  @include mq(qhd) {
    font-size: 1.5rem;
  }
}

.bold {
  font-weight: 700;
}

.article-heading {
  margin-top: 3rem;
  font-family: var(--font-1) !important;
  font-weight: 700;
}

.article-list {
  span {
    padding: 0;
  }

  li {
    cursor: var(--cursor-default-dark-1);
    line-height: 1.6;
  }

  li:first-child {
    margin-top: 2rem;
  }

  li:last-child {
    margin-bottom: 3rem;
  }
}

blockquote {
  margin: 0;
  font-family: var(--font-2);
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1.5rem, 5vw, 4.2rem);
  line-height: 1.2;
  letter-spacing: -1px;

  cite {
    line-height: 1;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(16px, 5vw, 22px);

    &::before {
      @include divider;
      height: 2px;
      width: 80%;
      max-width: 25rem;
      margin-top: 1.5rem;
    }
  }
}

// Span styling
span {
  font-family: var(--font-1);
  font-weight: 700;
  position: relative;
  display: block;
  &.count-kicker {
    margin-top: 1.5rem;
    font-size: clamp(1.25rem, 5vw, 1.375rem);

    &::after {
      @include divider();
      position: absolute;
      top: 45%;
      left: 3rem;
    }
  }

  &.breadcrumb {
    font-size: clamp(16px, 5vw, 20px);

    &::after {
      @include divider();
      position: absolute;
      top: 40%;
      left: 5em;
      width: clamp(30px, 5vw, 50px);
    }
  }
}

// Bold styling
strong,
body .strong {
  font-weight: bolder;
  line-height: 28px;
}

// Caption styling
.caption {
  font-size: 0.75rem;
  font-family: var(--font-2);
  margin-bottom: 0.5rem;
  display: flex;

  &.overline {
    text-transform: uppercase;
    font-weight: 500;
  }
}
