// -----------------------------------------------------------------------------
// This file contains all styles related to lists
// -----------------------------------------------------------------------------

@use '../01_abstracts/index' as *;

.grid-list {
  list-style: none;
  grid-column-gap: 4vw;
  column-gap: 4vw;
  display: grid;
  grid-auto-rows: minmax(1px, auto);
  grid-row-gap: 0;
  row-gap: 0;
  grid-template-columns: repeat(-1, minmax(0, 1fr));
  padding: 0;

  @include mq(xxl) {
    grid-column-gap: 1.5vw;
    column-gap: 1.5vw;
    grid-template-columns: repeat(8, 1fr);
    grid-row-gap: 0;
    row-gap: 0;
  }

  .grid-list-item {
    grid-column-end: span 4;
    background-color: transparent;
    border-top: 1px solid var(--light-4);

    @include mq(xxl) {
      grid-column-end: span 4;
      border-top: 1px solid #c4c4c4;
    }

    &:last-child {
      border-bottom: 1px solid var(--light-4);
    }

    @include mq(xxl) {
      &:nth-last-child(-n + 2) {
        border-bottom: 1px solid var(--light-4);
      }
    }

    a {
      grid-column-gap: 4vw;
      column-gap: 4vw;
      display: grid;
      grid-auto-rows: minmax(1px, auto);
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-row-gap: 0;
      row-gap: 0;
      grid-template-columns: repeat(-1, minmax(0, 1fr));
      margin-left: 2vw;
      color: var(--dark-1);
      margin-right: 0;
      padding: 1.5rem 0;
      text-decoration: none;
      width: 100%;

      @include mq(xxl) {
        flex-direction: row;
        position: relative;
        width: 100%;
      }

      &:hover {
        .primary,
        .secondary {
          color: var(--accent-1) !important;
        }

        .cta-icon {
          -webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
      }

      &:not(:hover) {
        svg {
          -webkit-animation: rotate-90-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: rotate-90-ccw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
      }
    }

    .primary {
      font-family: var(--font-1);
      font-size: clamp(1.25rem, 5vw, 2.25rem);
      letter-spacing: 0.02rem;
      line-height: 1.1;
      grid-column-end: span 3;
      display: block;
      position: relative;
      margin-top: 1rem;
      transition: none;
    }

    .secondary {
      font-family: var(--font-2);
      font-size: clamp(0.875rem, 3.5vw, 1.375rem);
      letter-spacing: 0.01rem;
      line-height: 1.7;
      grid-column-end: span 3;
      transition: none;
    }

    .svg-wrapper {
      grid-column-end: 5;
      grid-column-start: 4;
      grid-row-end: 3;
      grid-row-start: 1;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin: 0 4vw 0 0;

      .cta-icon {
        height: 40%;
        width: 30%;
        min-width: 1.625rem;
        max-width: 2rem;
      }
    }
  }
}
